.Home {
  margin-top: 232px;
}

.music-notes {
  position: absolute;
  z-index: -1;
  height: 80vh;
  top: 10%;
  left: 2%;
}

.title {
  text-align: center;
}

.title .logo {
  width: 196px;
  height: 196px;
  transition: width 0.5s, height 0.5s;
}

.title .name {
  font-size: 80px;
  transition: font-size 1s;
}

.title .about {
  font-size: 50px;
  transition: font-size 1s;
}

/* TESTIMONIALS */

.carousel-wrapper {
  margin-top: 32px;
  width: 50vw;
  margin-left: 25vw;
}

.slider-wrapper {
  width: 75vw !important;
  margin-left: -12.5vw !important;
}

.carousel .slide {
  background: none !important;
}

.testimonial {
  width: 100%;
  padding: 0 15%;
  margin: auto;
}

.testimonial .text {
  font-size: 17px;
  font-style: italic;
  text-align: left;
}

.testimonial .author {
  font-size: 16px;
  text-align: right;
  margin-top: 10px;
}

.control-arrow {
  background: none !important;
}

.control-arrow:before {
  border-top: 24px solid transparent !important;
  border-bottom: 24px solid transparent !important;
}

.control-next.control-arrow:before {
  border-left: 10px solid #ff6c00 !important;
}

.control-prev.control-arrow:before {
  border-right: 10px solid #ff6c00 !important;
}

@media (max-width: 1200px) {
  .carousel-wrapper {
    width: 90vw;
    margin-left: 5vw;
  }
  .slider-wrapper {
    width: 100vw !important;
    margin-left: -5vw !important;
  }
}

.testimonials {
  text-align: center;
  margin-top: 16px;
}
