
.Music { 
    height: 100vh;
    width: 100vw;
}

.soundcloud {
    margin: auto;
}

.soundcloud .row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.soundcloud .row .element {
    display: inline-block;
}

.element.mr {
    margin-right: 160px;
}