/* Popup style */
.popup-box {
    position: fixed;
    z-index: 100;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transition: opacity .4s;
  }
   
.popup-box .box {
  position: relative;
  z-index: 10;
  width: 60vw;
  height: 70vh;
  margin: 0 auto;
  margin-top: 15vh;
  background: rgb(255, 255, 255);
  padding: 20px;
  overflow: auto;
}

.popup-box .back {
  position: absolute;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
}
  
.popup-box .close-icon {
  color: white;
  cursor: pointer;
  position: fixed;
  z-index: 10;
  font-weight: 300;
  right: 20vw;
  top: 11vh;
  text-align: center;
  font-size: 1.5vw;
}