.resize-animation-stopper * {
    animation: none !important;
    transition: none !important;
}

.App {
    overflow-x: hidden;
}

.Music {
  pointer-events: auto;
}

.Contact {
  pointer-events: auto;
}

.Home {
  pointer-events: auto;
}

.About {
  pointer-events: auto;
}

.Auto {
  pointer-events: auto;
}

.testimonials {
  pointer-events: auto;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000000; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(82, 82, 82); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(39,24,60,1); 
  }